.sloganCars{
    text-align: center;
    font-size: 11px;
    margin-bottom: 8%;
}

.carCard {
    position: relative;
    margin: 2% 0;
}

.carItemFirstImage {
    width: 100%;
    display: block;
    height: 220px;
    object-fit: cover;
}
  
.infoBlur {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(8px);
    text-align: center;
    justify-content: center;
}
.titleCar {
    padding: 0 8%;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0;
}
.detailCarItem {
    font-weight: 200;
}

.ourCars {
    margin: 13% auto 2%;
    font-family: "Libre Caslon Text", serif;
    width: 50vw;
    font-size: 25px;
    text-align: center;
}
.carDescription {
    padding: 0 8%;
    
    font-size: 10px;
    font-weight: 200;
    color: white;
    z-index: 10;
}
.bookNowCarItem {
    
    font-size: 14px;
    padding: 1% 2%;
    position: absolute;
    bottom: 0%;
    background: black;
    color: white;
    border: none;
    font-family: 'DM Sans';
    text-transform: uppercase;
}
@media(min-width:700px){
    .carItemFirstImage, .infoBlur {
        height: 325px;
    }
    .infoBlur {
        font-size: 24px;
    }
    .titleCar {
        padding: 0 13%;
    }
    .carDescription {
        font-size: 16px;
        padding: 0 8%;
    }
}
@media(min-width:1200px){
    .carItemFirstImage, .infoBlur {
        height: 450px;
    }
    .infoBlur {
        font-size: 27px;
        width: 40%;
        align-items: flex-start;
    }
    .carCard {
        margin: 1% 0;
    }
    .ourCars{
        margin: 7% auto ;
        font-size: 51px;
    }
    .sloganCars{
        font-size: 16px;
        display: none;
    }
    .titleCar{
        padding: 0 11%;
        text-align: left;
    }
    .carDescription{
        font-size: 19px;
        padding: 0 11%;
        text-align: left;
    }
}
@media(min-width:1800px){
    .carItemFirstImage, .infoBlur {
        height: 600px;
    }
    
    .infoBlur {
        font-size: 33px;
    }
    .carDescription{
        font-size: 24px;
    }
}