.dashboardContainer {
    padding: 15vh 10%;
    min-height: 90vh;
    color: black;
    background: #fefefe;
}
h2 {
    font-weight: 900; 
    text-transform: uppercase;
}
.cards{
    margin-top: 2em;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    padding: 10px;
    background-image: url("/public/background.jpg");
    background-size: cover;
    border-radius: 20px;
}
.cardsAdmin {
    
    justify-content: space-around;
    margin: 3em 0em;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    padding: 10px;
    /* background-image: url("/public/background.jpg"); */
    background-size: cover;
    border-radius: 20px;
    display: flex;
}
.cardsAdmin p {
    margin-bottom: 0.5em;
    font-size: 14px;
}
.cards h5 {
    text-transform: capitalize;
    margin-bottom: 0;
}
.avatarCard {
    width: 80px;
    object-fit: contain;
}
.cardMainData {
    align-items: center;
    display: flex;
}
.cardMainDataText {

}
.carCardDashboard {
    font-size: 15px;
}
.infoBox{
    display: flex;
    justify-content: space-between;
}
.cardInfoTitle {
    font-weight: 700;
    margin-bottom: 0.2em;
}
.cardInfoText {
    font-weight: 300;
    margin-bottom: 0.6em;
}
.infoBox div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonsDashboardAdmin {
    background: transparent;
    border:none
}
.headingBoxDashboard{
    padding-bottom: 8%;
}
.buttonsDashboardAdmin.active {
    text-decoration: underline;
}
.deleteButtonAdmin {
    background: transparent;
    border-radius: 5px;
    font-size: 12px;
}
.deleteButtonAdmin:hover {
    background: grey;
}
.headingBoxDashboard div {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}
.cardAdminTitle{
    text-align: center;
    padding: 4%;
}

.cardsAdmin input {
    border: 1px solid black;
    border-radius: 8px;
    margin: 2%;
    width: 96%;
}
.selectCardCRUDAdmin {
    margin: 5% 2%;
}

@media(min-width: 700px){
    .headingBoxDashboard div {
        
        justify-content: flex-start;
    }
    .infoBox {
        font-size: 18px;
        justify-content: space-around;
    }
    
    .cardsAdmin {
        text-align: center;
        margin: 3em 0em;
        width: 50%;
    }
    .cardsAdmin input {
        border-radius: 12px;
        margin: 2%;
        width: 75%;
        padding: 5px 10px;
    }
    .selectCardCRUDAdmin {
        margin: 5% 2%;
        width: 47%;
        padding: 5px;
        font-size: 14px;
        border-radius: 10px;
        border: 1px solid grey;
    }
    .cards {
        width: 70%;
    }
    .carCardDashboard {
        font-size: 17px;
    }
}
@media (min-width: 1000px) {
    .cards {
        width: 55%;
    }
    .cardsAdmin {
        
        width: 40%;
    }
}
@media (min-width: 1200px) {
    .carCardDashboard {
        width: 380px;
    }
    .cards {
        width: 45%;
    }
}

@media (min-width: 1700px) {
    .cards {
        width: 35%;
    }
}