.heroContainer {
    background-image: url('/cars/2autos.jpg');
    height: 76vh;
    width: 100%;
    background-position: unset;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
}
.heroText {
    font-family: "Libre Caslon Text", serif;
    display: flex;
    padding: 2%;
    color: white;
    width: 45vw;
    border-radius: 25px;
    line-height: 32px;
    z-index: 2;
    text-align: center;
    font-size: 15.5px;
    padding: 1.35% 5%;
    margin-top: 2em;
    align-items: center;
    justify-content: center;
}
.getStartedHero {
    /* font-family: "Libre Caslon Text", serif;
    font-weight: 600; */
    /* margin: 0.5em; */
    color: #242424;
    background: white;
    background: #ffd120;
    border: 1.5px solid #ffd120;
    width: auto;
    border-radius: 25px;
    line-height: 32px;
    z-index: 2;
    text-align: center;
    font-size: 15px;
    padding: 1.2% 4%;
    margin-top: 2em;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.overlayHero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 69vh;
    background-color: rgba(0, 0, 0, 0.25); /* Color negro transparente */
    z-index: 1;
}
.heroVideo { object-fit: cover;
    width: 100%;
    height: 100vh;
}
.heroBox {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
@media(min-width:700px){
    
    .heroText{
        font-size: 35px;
    }
}

@media(min-width:1200px){
    .heroContainer{
        height: 99vh;
        background-position-y: -680px;
    }
    .overlayHero {
        height: 96vh;
    }
}

@media(min-width:1400px){
    .heroContainer{
        background-position-y: -800px;
    }
}

@media(min-width:1700px){
    .heroContainer{
        background-position-y: -870px;
    }
}
