.heroContainer {
    background-image: url('/cars/hero.jpg');
    height: 96vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: unset;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    justify-content: end;
    z-index: 2;
}

.heroImage {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.titleHero {
    font-size: 30px;
    font-family: "Libre Caslon Text", serif;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    font-size: 54px;
    color: #242424;
    text-align: center;
    line-height: 60px;
}
.heroText {
    color: #242424;
}

@media(min-width:700px){
    .titleHero {        
        margin-top: 45vh;
        font-size: 94px;
        margin: 52vh 10% 0;
        line-height: normal;
        line-height: 95px;
    }
    .heroText{
        
    font-size: 35px;
    }
    .heroContainer{
        justify-content: center;
    }
}

@media(min-width:1000px){
    .titleHero {
        margin-top: 45vh;
        font-size: 110px;
        margin: 52vh 15% 0;
        line-height: normal;
        line-height: 110px;
    }
    .heroText {
        font-size: 45px;
    }
}

@media(min-width:1000px){
    .titleHero {        
        font-size: 80px;
        margin: 60vh 4% 0;
    }
    .heroText {
        font-size: 45px;
        margin: 0;
    }
}

