.navbarContainer {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    background: black;
    height: 10vh;
}
.navbarContainer a {
    text-decoration: none;
}
.carsNavbar {
    color: #bebebe;
    font-family: "Libre Caslon Text", serif;
    margin-bottom: 0;
    
    font-size: smaller;
}
.logoNavbar {
    width: 175px;
    z-index: 12;
}
.rightNavbar {
    display: flex;
    justify-content: space-between;
}
.rightNavbarItem {
    width: 20vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #242424;
    color: #ececec;
    font-size: 16px;
    letter-spacing: 0.05em;
}
.navbarBrand {
    color: #242424;
    font-size: 30px;
    font-family: "Libre Caslon Text", serif;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0; 
    font-size: 14px;
    padding: 0;
    z-index: 3;
    letter-spacing: 0.3em;
    text-align: center;
}
.dropdownLogged a, .dropdownLogged span{
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}
.dropdownLogged {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    position: absolute;
    /* transform: translateY(-50%); */
    background: black;
    padding: 17px;
    
    left: 72%;
    width: 55%;
    top: 220%;
    top: 60px;
    transform: translateX(-50%);
}

@media(min-width:700px){
    .logoNavbar {
        width: 200px;
    }
    .navbarBrand{
        font-size: 26px;
    }
    .navbarContainer{
        padding: 0 5%;
        justify-content: space-between;
    }
}
@media(min-width:1000px){
    .navbarBrand{
        font-size: 30px;
    }
}
@media(min-width:1200px){
    .logoNavbar {
        margin: 4% 0;
        width: 220px;
    }
    .navbarContainer {
        height: 12vh;
    }
    .navbarBrand {
        font-size: 40px;
        letter-spacing: 0.3em;
    
    }
    .carsNavbar {
        font-size: 16px;
    }
}
@media(min-width:1400px){
    
}