.navbarContainer {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    /* background: #eeeeeebd; */
}
.logoNavbar {
    width: 50px;
    margin: 3% 0;
    z-index: 12;
}
.rightNavbar {
    display: flex;
    justify-content: space-between;
}
.rightNavbarItem {
    width: 20vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #242424;
    color: #ececec;
    font-size: 16px;
    letter-spacing: 0.05em;
}
.navbarBrand {
    color: #242424;
    font-size: 30px;
    font-family: "Libre Caslon Text", serif;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0; 
    font-size: 14px;
    padding: 0;
    z-index: 3;
    letter-spacing: 0.35em;
    text-align: center;
}
@media(min-width:700px){
    .logoNavbar {
        width: 80px;
    }
    .navbarBrand{
        font-size: 26px;
    }
    .navbarContainer{
        justify-content: space-around;
    }
}
@media(min-width:1000px){
    .navbarBrand{
        font-size: 30px;
    }
}
@media(min-width:1200px){
    .logoNavbar {
        margin: 4% 0;
        width: 90px;
    }
    /* .navbarContainer {
        width: 86%;
        position: absolute;
        display: flex;
        padding: 0 7%;
        justify-content: flex-end;
        flex-direction: column-reverse;
    } */
    .navbarBrand {
        font-size: 40px;
        letter-spacing: 0.3em;
    
    }
}
@media(min-width:1400px){
    
}