.navbarContainer {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #242424, transparent);
}
.logoNavbar {
    width: 50px;
    margin: 5%;
}
.rightNavbar {
    display: flex;
    justify-content: space-between;
}
.rightNavbarItem {
    width: 20vw;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: #242424;
    color: #ececec;
    font-size: 16px;
    letter-spacing: 0.05em;
}