.footerContainer2 {
    height: 800px;
    background-image: url('/public/cars/volanteMacLaren.jpg');
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: unset;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    justify-content: center;
    z-index: 2;
    justify-content: flex-end;
}
.footerContainer {
    font-size: 11px;
    padding: 9% 5% 0;
    margin: 3% 0 0;
    background: black;
}
.footerContainer strong {
    font-weight: 500;
    padding-left: 1%;
}
.catalog {
    font-weight: 300;
}
.footerContainer h2 {
    text-align: center;
}
.justina {
    color:#656668;   
    /* display: block !important; */
    display: flex;
    padding: 8% 0 5px;
    text-align: right;
    font-size: 10px;
    justify-content: space-between;
    margin: -8px 0;
}
.justina strong {
    color:#656668;   
}
.justina a {
    color:#656668;   
}
.justina p {
    margin-bottom: 0;
}
.footerContainer p {
    display: flex;
    align-items: center;
}
.logoFooter {
    width: 130px;
}
.footerContainer3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerContainer3 div {
    display: flex;
    flex-direction: column;
}
.footerIcons {
    font-size: 1.2rem !important;
    margin-right: 5px;
}
.footerItemsContact{
    margin: 0;
    margin: 3px 0;
}
.footerPaymentMethods {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #acacac;
}
.footerPaymentMethods p {
    margin: 0.5em;
}
.footerIconsCard {
    width: 25px;
    margin: 4px;
}
@media(min-width:700px){

    .footerContainer h2 {
        margin: 5%;
        font-size: 30px;
    }
    .footerContainer{
        font-size: 18px;
        padding: 5% 5%;
    }
    .justina {
        font-size: 12px;
    }
    .logoFooter {
        width: 230px;
    }
    .footerIconsCard {
        width: 42px;
        margin: 6px;
    }
}
@media(min-width:1200px){

    .footerContainer h2 {
        margin: 5%;
        font-size: 30px;
    }
    .footerContainer strong {
        font-weight: 500;
        padding-left: 0.3%;
    }
    
    .footerContainer{
        font-size: 18px;
        padding: 3% 3% 0 3%;
        margin: 0;
    }
    .justina {
        text-align: right;
        margin: 3px 0;
        padding: 4% 0 7px;
        font-size: 14px;
    }
    .logoFooter {
        width: 270px;
    }
    .footerContainer3 {
        padding: 0 6%;
    }
}