.footerContainer2 {
    height: 800px;
    background-image: url('/public/cars/volanteMacLaren.jpg');
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: unset;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    justify-content: center;
    z-index: 2;
    justify-content: flex-end;
}
.footerContainer {
    /* text-align: center; */
    font-size: 12px;
    padding: 5% 5%;
    margin: 3% 0 0;
    background: black;
}
.footerContainer strong {
    font-weight: 500;
    padding-left: 1%;
}
.catalog {
    font-weight: 300;
}
.footerContainer h2 {
    text-align: center;
}
.justina {
    color:#656668;   
    display: block !important;
    
    padding: 5% 0 0;
    text-align: right;
    font-size: 10px;
    margin: -8px 0;
}
.justina strong {
    color:#656668;   
}
.justina a {
    color:#656668;   
}
.footerContainer p {
    display: flex;
    align-items: center;
}
.logoFooter {
    width: 145px;
}
.footerContainer3 {
    
    display: flex;
    justify-content: space-around;
    align-items: center;

}

@media(min-width:700px){

    .footerContainer h2 {
        margin: 5%;
        font-size: 30px;
    }
    .footerContainer{
        font-size: 18px;
    }
    .justina {
        font-size: 12px;
    }
    .logoFooter {
        width: 230px;
    }
}
@media(min-width:1200px){

    .footerContainer h2 {
        margin: 5%;
        font-size: 30px;
    }
    .footerContainer{
        font-size: 18px;
    }
    .footerContainer strong {
        font-weight: 500;
        padding-left: 0.3%;
    }
    
}