.ourCarsStarred{
    padding-top: 10vh;
}
.seeAllStarred {
    color: #fafafa;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}

@media(min-width:1000px){
    .seeAllStarred{

        left: 90%;
        position: relative;
    }
}