.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.input {    
    padding: 2px 8px;
    border-radius: 10px;
    width: 178px;
    margin: 0 auto 8px;
}
.container h3 {
    width: 178px;
    font-size: 13.5px;
    margin-bottom: 1em;
}
.strongh3 {
    font-size: 17px;
}
.passwordContainer {
    position: relative;
    margin: 0 auto -5%;
}
  
.passwordToggle {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}
  
.link {
    color: steelblue;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}
  
.button {
    background-color: var(--color-secondary);
    color: white;
    border: none;
    cursor: pointer;
    padding: 7px 14px;
    cursor: pointer;
    /* border: 1px solid white; */
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    /* width: 88%; */
    background: #000;    
    width: 150px;
}
  
.button:hover{
    background-color: grey;
    color: white;
}
.googleButton {
    background-color: rgb(220, 220, 220);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 9px 20px;
    margin: 0px 15px 10px;
    cursor: pointer;
    font-size: 12px;
}
.notAccountYet{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    margin: 15px 0 -7px 0px;
    color: white;
}
.registerPassword {
    margin: 0;
}
@media(min-width:700px) {
    .container {
        min-height: 80vh;
    }
    .input {
        padding: 8px;
        border-radius: 9px;
        margin: 0 auto 11px;
        width: 280px;
    }
    .button {
        width: 200px;
        font-size: 20px;
    }
    .link {
        margin-bottom: 20px;
        color: steelblue;
        margin-top: 14px;
        text-align: center;
        font-size: 15px;
    }
    .notAccountYet {
        font-size: 15px;
    }
    .container h3 {
        line-height: 1.4; 
        width: 280px;
        font-size: 20px;
    }
    .strongh3 {
        font-size: 26px;
    }
    .cardsAdmin {
        text-align: center;
        margin: 3em 5em;
    }
    .cardsAdmin input {
        border-radius: 12px;
        margin: 2%;
        width: 75%;
        padding: 5px 10px;
    }
    .selectCardCRUDAdmin {
        margin: 5% 2%;
        width: 47%;
        padding: 5px;
        font-size: 14px;
        border-radius: 10px;
        border: 1px solid grey;
    }
    .cards {
        width: 70%;
    }
    .carCard {
        font-size: 18px;
    }
    .infoBox {
        font-size: 18px;
        justify-content: space-around;
    }
}
@media(min-width:1000px) {
    .container {
        min-height: 75vh;
    }
}
@media(min-width:1200px) {
    .container {
        min-height: 100vh;
    }
}
@media(min-width:1400px) {
    .container {
        min-height: 105vh;
    }
}